DEBUG=True
SECRET_KEY=12RZY34Z0bOR9ruNjE2SSJKfgB-dUCSB42e1vaTXA2oE_Lkpngu-_Mpkn4U805zcnDs
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://user:password@db:5432/dbname

POSTGRES_DB=event_manager_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpass
